/TestApp/obj
/TestApp/bin
/TimeIsLife/.vs
/TimeIsLife/bin
/TimeIsLife/obj
/TimeIsLife/*.user
/TimeIsLifeInstallerClass/.vs
/TimeIsLifeInstallerClass/bin
/TimeIsLifeInstallerClass/obj
/TimeIsLifeRegister/bin
/TimeIsLifeRegister/obj
/TimeIsLifeRegister/*.user
